@model IzunaDrop.Data.Models.Game
@section Styles {
    <style>
        .cover-image {
            width: 100%;
            max-width: 374px;
            height: 448px;
            object-fit: cover;
        }
        .box {
            width: 100%;
            max-width: 374px;
            height: 448px;
            overflow:auto;
            padding: 15px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            background-color: #f9f9f9;
            margin-bottom: 20px;
        }

    </style>
}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <div class="box">
                <div class="text-center">
                    <a asp-controller="Character" asp-action="Index">Characters</a>
                </div>
                
            </div>
        </div>
        <div class="col-sm-12 col-md-4 text-center">
            <img class="cover-image img-fluid" src="@Model.ImagePath" alt="@Model.Name" />
            <div>
                <p>Release Date: @Model.ReleaseDate</p>
                <p>Genre: @Model.Genre</p>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="box">
                <h2> @Model.Name</h2>
                <p>@Model.Description</p>
            </div>
        </div>
    </div>
</div>
